@import '../fn.styl';

.cells
  position: relative;
  margin-top: $cellsMarginTop;
  background-color: $cellBg;
  line-height: $cellLineHeight;
  font-size: $cellFontSize; //cell中间有效高度23px，跟客户端默认图标尺寸一致
  &:before
    setTopLine($cellBorderColor);
  &:after
    setBottomLine($cellBorderColor);
  &-title
    margin-top: 0.77em; // 15px - 行高
    margin-bottom: 0.3em; // 8px - 行高
    padding-left: $cellGapH;
    padding-right: $cellGapH;
    color: $textColorGray;
    font-size: $cellTipsFontSize;
    &_after
      margin-top: 0;
  &-tips
    margin-top: 0.3em; // 8px - 行高
    color: $textColorGray;
    padding-left: $cellGapH;
    padding-right: $cellGapH;
    font-size: $cellTipsFontSize;

.cell
  padding: $cellGapV $cellGapH;
  position: relative; //这个是为了兼容cells容器onepx方案被before挡住而做的
  display: flex;
  align-items: center;
  &:before
    setTopLine($cellBorderColor);
    left: $cellGapH;
  &:first-child
    &:before
      display: none;
  &-active
    background-color: $cellActiveBg;
  &-primary
    align-items: flex-start;
  &-warn
    color: $textColorWarn;
  &-body
    flex: 1;
  &-footer
    text-align: right;
    color: $textColorGray;
  &-input
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
  &-select
    padding: 0;
