setTopLine($color = #C7C7C7)
  content ' '
  position absolute
  left 0
  top 0
  right 0
  height 1px
  border-top 0.5px solid $color
  color $color

setBottomLine($color = #C7C7C7)
  content ' '
  position absolute
  left 0
  bottom 0
  right 0
  height 1px
  border-bottom 0.5px solid $color
  color $color

setLeftLine($color = #C7C7C7)
  content ' '
  position absolute
  left 0
  top 0
  width 1px
  bottom 0
  border-left 0.5px solid $color
  color $color

setRightLine($color = #C7C7C7)
  content ' '
  position absolute
  right 0
  top 0
  width 1px
  bottom 0
  border-right 0.5px solid $color
  color $color
