textEllipsis($width = auto)
  width $width
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  word-wrap normal

textEllipsisLine($line)
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp $line

textWrap()
  word-wrap break-word
  word-break break-all

textHyphens()
  word-wrap break-word
  -webkit-hyphens auto
  hyphens auto
