// cell
$cellBg = #FFFFFF;
$cellBorderColor = #D9D9D9;
$cellGapV = 10px;
$cellGapH = 15px;
$cellInnerGapH = .35em;
$cellFontSize = 17px;
$cellHeight = 44px;
$cellHeightEm = unit($cellHeight / $cellFontSize, em);
$cellTipsFontSize = 14px;
$cellLabelWidth = 105px;
$cellActiveBg = #ECECEC;

$cellLineHeight = unit(($cellHeight - 2 * $cellGapV) / $cellFontSize); // 高度为44px，减去上下padding的行高
$cellsMarginTop = unit(20 / $cellFontSize, em);

// switch
$switchHeight = 32px;

// uploader
$uploaderBorderColor = #D9D9D9;
$uploaderActiveBorderColor = #999999;
$uploaderFileSpacing = 10px;
$uploaderSize = 80px;
$uploaderBorderWidth = 1px;
