@import 'style/style.styl'

.page
  box-sizing border-box

  &-head
    padding 20px

    &_title
      text-align left
      font-size 20px
      font-weight 400

    &_desc
      margin-top 5px
      color #888888
      text-align left
      font-size 14px

  &-body
    padding 20px

  &-foot
    padding-bottom 10px
    text-align center
