@import 'style/style.styl';

page
  background-color: #ffffff;
  font-size: 16px;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;

.page-header
  padding: 30px 20px;

.page-body
  padding: 20px 10px;

.page-body_spacing
  padding-left: 10px;
  padding-right: 10px;


.page-footer
  padding-bottom: 10px;
  text-align: center;


.page-title
  text-align: left;
  font-size: 20px;
  font-weight: 400;


.page-desc
  margin-top: 5px;
  color: #888888;
  text-align: left;
  font-size: 14px;

